<br><br>
<div class="text-center" id="esq"> <div id="maia"></div>
       <h2 id="azul">CONTACTE-NOS</h2>
       <p>Rua dos Generais, Condomínio das Mangueirinhas   
           Morro Bento | Luanda | Angola</p><br><br>
          
           <h3 id="azul">Ligue para nós hoje!</h3>
           <a id="telefone" href="#"><img src="https://i.ibb.co/hfp0z5R/iconetelefone.png" alt="" width="20" height="20">(+244) 222 679 500</a><br><br>
           <a id="telefone" href="#"><img src="https://i.ibb.co/hfp0z5R/iconetelefone.png" alt="" width="20" height="20">(+244) 246 990 459</a><br><br>
           <a id="telefone" href="#"><img src="https://i.ibb.co/gRBqhzK/mail2.png" alt="" width="20" height="20">contacto@jupiter.co.ao</a>
           <br><br><br>
           <h3 id="azul">SOMOS SOCIAIS</h3><br>
           <table id="social">
<tr>
   <td><a id="telefone" href="#"><img src="https://i.ibb.co/VHsqGt9/facebook.png" alt="" width="30" height="30"></a></td>  
   <td><a id="telefone" href="#"><img src="https://i.ibb.co/LpsW6Pk/windows.png" alt="" width="30" height="30"></a></td>
   <td><a id="telefone" href="#"><img src="https://i.ibb.co/9Hjn7kq/youtube.png" alt="" width="30" height="30"></a></td>
   <td><a id="telefone" href="#"><img src="https://i.ibb.co/DgFY9Hh/twitter.png" alt="" width="30" height="30"></a></td>
</tr>
           </table>
       </div><br><br><br><br>
