<br>
    <h2 id="azul">VENHA NOS CONHECER</h2>
    <img class="mona"  src="https://i.ibb.co/MNkmcpy/1.jpg" alt="mona" width="200px" height="250px">
    <img class="mona"  src="https://i.ibb.co/qWfKv3s/2.jpg" alt="mona" width="200px" height="250px">
    <img class="mona"  src="https://i.ibb.co/NsNn2g7/3.jpg" alt="mona" width="200px" height="250px">
   
    <img class="mona"  src="https://i.ibb.co/FbrSv6W/6.jpg" alt="mona" width="200px" height="250px">
    <img class="mona"  src="https://i.ibb.co/XYrSBRH/7.jpg" alt="mona" width="200px" height="250px">
   <br><br><br>
    <h2 id="azul">VANTAGENS DE SERES NOSSO CLIENTE</h2>
    <ol>
        <li>Facilidade de mudança de local (cidade, bairro, estado);</li>
        <li>Os custos de manutenção da estrutura física do imóvel ficam por conta do arrendador;</li>
        <li>
            Oportunidade de avaliar o negócio antes de tomar uma decisão efetiva de compra.</li>
    </ol><br>
    <h2 id="azul">GRANDES OFERTAS APENAS EM NOSSOS SERVIÇOS </h2>
<table id="vantagem" class="table table-responsive">
<tr>
<td><h4><img src="https://i.ibb.co/y4GKgJ8/iconebanheiro.png" alt="" width="20" height="20"> Casa de banho</h4> <ul><li>Papel higiénico</li><li>Toalha</li><li>Casa de banho</li><li>Banheira</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/26pr308/iconecama.png" alt="" width="20" height="20">Quarto</h4><ul><li>Roupeiro ou closet</li><li>#</li><li>#</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/kMPmqxJ/iconecozinha.png" alt="" width="20" height="20">Cozinha</h4><ul><li>Utensilios de cozinha</li><li>#</li><li>#</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/26pr308/iconecama.png" alt="" width="20" height="20">Lazer</h4><ul><li>Suporte para cabides</li><li>Ferro de engomar</li><li>Ar condicionado</li><li>#</li><li>#</li></ul></td>
</tr>
<tr>
<td><h4><img src="https://i.ibb.co/mt5r4Gk/iconepeanimal.png" alt="" width="20" height="20">Animal</h4><ul><li>Animais de estimação:Nao permitidos</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/NWBSqVr/iconenatacao.png" alt="" width="20" height="20">Atividades</h4><ul><li>Eventos desportivos (transmissão)</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/BGxRfWB/iconesofa.png" alt="" width="20" height="20">Área de estar</h4><ul><li>Secretária</li><li>Sala de estar</li><li>#</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/rxSJ8fN/iconetv.png" alt="" width="20" height="20">Tecnologia</h4><ul><li>Smart TV</li><li>Televisão</li><li>#</li><li>#</li><li>#</li></ul></td>
</tr>
<tr>
<td><h4><img src="https://i.ibb.co/y4GKgJ8/iconebanheiro.png" alt="" width="20" height="20"> Casa de banho</h4> <ul><li>Papel higiénico</li><li>Toalha</li><li>Casa de banho</li><li>Banheira</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/RcJKCCB/iconeestacionamento.png" alt="" width="20" height="20">Estacionamento</h4><ul><li>Roupeiro ou closet</li><li>#</li><li>#</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/NWBSqVr/iconenatacao.png" alt="" width="20" height="20">Actividade</h4><ul><li>Utensilios de cozinha</li><li>#</li><li>#</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/mt5r4Gk/iconepeanimal.png" alt="" width="20" height="20">Animal</h4><ul><li>Suporte para cabides</li><li>Ferro de engomar</li><li>Ar condicionado</li></ul></td>
</tr>
<tr>
<td><h4><img src="https://i.ibb.co/njpRdJR/iconewifi.png" alt="" width="20" height="20">Wifi</h4><ul><li>Animais de estimação:Nao permitidos</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/BGxRfWB/iconesofa.png" alt="" width="20" height="20">Area de estar</h4><ul><li>Eventos desportivos (transmissão)</li><li>#</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/kmDCPwQ/icone24h.png" alt="" width="20" height="20">24H disponivel</h4><ul><li>Secretária</li><li>Sala de estar</li><li>#</li><li>#</li><li>#</li></ul></td>
<td><h4><img src="https://i.ibb.co/xGrhw7b/iconecasa.png" alt="" width="20" height="20">Casa</h4><ul><li>Smart TV</li><li>Televisão</li><li>#</li><li>#</li><li>#</li></ul></td>
</tr>
</table><br><br>
<div class="text-center"><u><i><h2><a id="dimensao" href="#"> VER DIMENSÃO 3D</a></h2></i></u></div>
<div class="text-center"><img src="https://i.ibb.co/fk7m4pm/4.png" width="400" height="400"></div><br><br><br><br>
