/* You can add global styles to this file, and also import other style files */
body{
    top: 0;
    margin: 0;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
header{
    top: 0;
    margin: 0;
    padding: 60px;
    background: orange;
}
h1 {
    
    color: black;
}
#img1 {
    margin: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    background: white;
    padding: 10px;
    height: 150px;
    width: 150px;
    z-index: 1;
}

#centro {

    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
}
#mona {
    float: left;
    border: 15px solid transparent;
  padding: 15px;
    border-image:url(https://i.ibb.co/tcHtx63/border2.png) 30 stretch; 
}

#funcao {
    position: relative;
    background: #87CEFA;   
}
#check {
    width: 190px;
    padding: 5px;
}   
 #azul {
     color: blue;
 }
 #telefone {
    color: black;
    text-decoration: none;
 }
 #telefone:hover {
    color: red;
    
 }

 input[type=submit]:hover, button:hover {
    background-color: blue;
    color: white;
    
 }
 #cadastro, #login{
    position: absolute; 
	left: 500px; /* posiciona a 90px para a esquerda */ 
	top: 250px; /* posiciona a 70px para baixo */ 
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189,0.8);
  border-radius: 5px;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
#tab1 tr {
    height: 50px;
}
#tab1 tr td {
    width: 200px;
}
table tr td {
    width: 130px;
}
#vantagem tr td {
    width: 190px;
}
#vantagem tr td ul li {
    list-style-image: url('https://i.ibb.co/MBgvqWZ/bom.png');
}
#dimensao:hover {
color: red;
}
.black{
    background-color: black;  
}
.orange{
    background-color: rgba(255, 165, 0, 0);   
}
#menu ul {
    width: 100%;
    position: fixed;
    top: 142px;
    background-color: black;
    list-style: none;
    left: 0; 
}

#menu ul li {
    display: inline;
}
#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
#menu ul li a:hover{
    color: orange;
}
app-footer {
    text-align: center;
    padding: 10px;
    background: orange;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
}
#social {
  margin: 0 auto;
}
@media (max-width: 600px){
    #menu ul {  
        top: 270px; 
    }  
    header{
        top: 0;
        margin: 0;
        padding: 60px;
        background: orange;
    } 
    #img1 {
        margin: 0;
        position: fixed;
        top: 194px;
        background: white;
        padding: 10px;
        height: 78px;
        width: 78px;
        left: 170px;
        border: solid orange;
    }
    .orange{
        background-color: black;
    }
    #imp{
        height: 800px;
        width: 485px;  
    }
  #esq{
      text-align: left;
  }
  #cadastro, #login{
    position: absolute; 
	left: 50px; /* posiciona a 90px para a esquerda */ 
	top: 273px; /* posiciona a 70px para baixo */ 
  padding: 18px 6% 5px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189,0.8);
  border-radius: 5px;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.mona{
    float: left;
}
#azul {
    color: blue;
    clear: both;
}
}